.page {
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-style: normal;
    color: #3E3F43;
}

.page_position_shifted {
  margin-left: 102px;
}

.header {
  display: flow-root;   /* prevent from margin collapsing */
  position: relative;
  min-height: 800px;
}

.header__subtitle {
  display: block;
  margin: 217px 0 16px 0;
  width: 504px;
  height: 98px;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;

  color: #3E3F43;
}

.header__accent {
  font-weight: bold;
}

.header__title {
  width: 504px;
  height: 196px;
  margin: 0 0 16px 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  color: #313235;
}

.header__art-pic {
  position: absolute;
  top: 0;
  right: 0;
  width: 370px;
  height: 100%;
  border-bottom-left-radius: 100px;

  background: #F9BDBD;
}

.header__image {
  position: absolute;
  top: 165px;
  right: 0;
  width: 568px;
  height: 577px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__header {
  position: absolute;
  top: 28px;
  left: -22px; /* TODO: Make it better */
}

.menu__links {
    list-style: none;
    margin: 0;
}

.menu__links-element {
    display: inline;
    margin: 0 48px 0 0;
}

.menu__link {
    text-decoration: none;
    color: #222222;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.menu__link_active {
    font-weight: 800;
    color: #DAA520;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__header {
  margin-right: 115px;
}

.logo__icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.logo__label {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.25em;
    color: #3E3F43;
}

.button {
  background: #DAA520;
  border-radius: 4px;
  border: none;
  padding: 14px 24px;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}