.page {
    overflow-x: hidden;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-style: normal;
    color: #3E3F43;
}

.header {
  display: flow-root;   /* prevent from margin collapsing */
  position: relative;
  min-height: 800px;
}

.header__subtitle {
  display: block;
  margin: 217px 0 16px 102px;
  width: 504px;
  height: 98px;
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
}

.header__accent {
  font-weight: bold;
}

.header__title {
  width: 504px;
  height: 196px;
  margin: 0 0 16px 102px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  color: #313235;
}

.header__art-pic {
  position: absolute;
  top: 0;
  right: 0;
  width: 370px;
  height: 100%;
  border-bottom-left-radius: 100px;

  background: #F9BDBD;
}

.header__image {
  position: absolute;
  top: 165px;
  right: 0;
  width: 568px;
  height: 577px;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu__header {
  position: absolute;
  top: 28px;
  left: 80px;
}

.menu__links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__links-element {
    display: inline;
    margin: 0 48px 0 0;
}

.menu__links-element:last-of-type {
  margin-right: 0px;
}

.menu__link {
    text-decoration: none;
    color: #222222;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

.menu__link_active {
    font-weight: 800;
    color: #DAA520;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__header {
  margin-right: 115px;
}

.logo__footer {
  margin-bottom: 16px;
}

.logo__icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.logo__label {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.25em;
    color: #3E3F43;
}

.button {
  background: #DAA520;
  border-radius: 4px;
  border: none;
  padding: 14px 24px;
  margin: 0;

  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.button__header {
  margin-left: 102px;
}

.button__how-it-works {
  display: block;
  margin: auto auto;
}

.content {
  width: 1152px;
  margin: 0 auto;
}

.about-us {
  min-height: 950px;
  padding: 0 100px;
}

.about-us_space_top {
  margin-top: 120px;
}

.about-us__heading {
  margin: 0 0 16px 0;
  width: 448px;
  height: 98px;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
}

.about-us__heading_size_relaxed {
  min-width: 448px;
  width: unset;
  height: unset;
}

.about-us__accent {
  font-weight: 800;
}

.about-us__paragraph {
  margin: 0;
  width: 448px;
  height: 66px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.about-us__paragraph_size_relaxed {
  min-width: 448px;
  width: unset;
  height: unset;
}

.about-us__image {
  position: relative;
  left: 100%;
  width: 287px;
  height: 384px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-header__about-us {
  margin-bottom: 40px;
}

.section-header__how-it-works {
  margin-bottom: 64px;
}

.section-header__categories {
  margin-bottom: 40px;
}

.section-title {
  margin: 0;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  color: rgba(34, 34, 34, 0.1);
}

.section-subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43; 
}

.section-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-row__about-us {
  margin-bottom: 40px;
}

.section-row__how-it-works {
  margin-bottom: 78px;
  justify-content: center;
}

.section-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-list__item {
  margin: 0 0 16px 0;
}

.section-list__item:last-of-type {
  margin: 0;
}

.section-list__footer {
  flex-direction: column;
}

.section-grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 56px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
}

.card_color_yellow {
  background: #F7DEA6;
}

.card_color_pink {
  background: #F9BDBD;
}

.card_color_blue {
  background: #A8DCEC;
}

.card__about-us {
  width: 278px;
  height: 388px;
}

.card__categories {
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 400px;
}

.card__name {
  align-self: flex-start;
  margin: 24px 0 0 16px;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #3E3F43;
}

.card__image {
  width: 388px;
  height: 306px;
}

.card__image_name_desk {
  align-self: flex-start;
  width: 246px;
  height: 224px;
}

.card__image_name_chair {
  width: 165.25px;
  height: 235px;
}

.card__image_name_kitchenware {
  width: 181.01px;
  height: 200px;
}

.card__image_name_book-shelf {
  width: 148.82px;
  height: 235px;
}

.card__image_name_electronics {
  width: 235px;
  height: 139.12px;
}

.card__button {
  margin: 0 16px 24px 0;
  align-self: flex-end;
  width: 123px;
  height: 40px;

  background: rgba(255, 255, 255, 0);
  border: 1px solid #3E3F43;
  box-sizing: border-box;
  border-radius: 4px;

  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #3E3F43;
}

.how-it-works {
  padding: 0 100px;
}

.how-it-works_space_top {
  margin-top: 120px;
}

.how-it-works__image {
  width: 238px;
  height: 177px;
}

.categories {
  padding: 0 100px;
}

.categories_space_top {
  margin-top: 120px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 455px;
  background: url('../images/footer_image.png') no-repeat bottom right / 508px 455px;
  background-color: #f0f0f0;
}

.footer_space_top {
  margin-top: 120px;
}

.footer__content {
  position: absolute;
  top: 208px;
  left: 108px;
  width: 708px;
}

.footer__line {
  margin-bottom: 24px;
  width: 100%;
  height: 0px;
  border: 1px solid #C4C4C4;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__column_content_contacts {
  flex-basis: 192px;
}

.footer__heading {
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.footer__link {
  margin: 0;
  text-decoration: none;

  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #8D8D8D;
}

.footer__link_type_contact {
  display: block;
  margin: 0 0 16px 0;
  font-style: normal;
}

.footer__copyright {
  margin: 0 0 24px 0;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8D8D8D;
}